.header__link {
  margin: 0;
  padding: 10px;
  border: #1b1a17 1px solid;
  border-radius: 10px;
  text-decoration: none;
  color: #f0e3ca;
  transition: 0.6s ease-out;
  cursor: pointer;
}

.header__link:hover {
  animation: border-pulsate 3s infinite alternate;
}
@keyframes border-pulsate {
  0% {
    border-color: #000;
  }
  50% {
    border-color: #f0e3ca;
  }
  100% {
    border-color: #ff8303;
  }
}
