.profile__subtitle {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 4.7px;
  overflow: hidden;
  border-right: 3px solid #ff8303;
  white-space: nowrap;
  animation: typing 5s steps(30, end), blink-caret 1.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff8303;
  }
}
