@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/wrapper/wrapper.css);

@import url(../blocks/animation/animation.css);

@import url(../blocks/header-container/header-container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__link/header__link.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__background/profile__background.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__title/profile__title.css);

@import url(../blocks/description/description.css);
@import url(../blocks/description/__image/description__image.css);
@import url(../blocks/description/__text/description__text.css);

@import url(../blocks/block/block.css);
@import url(../blocks/block/__cards/block__cards.css);
@import url(../blocks/block/__title/block__title.css);

@import url(../blocks/skills/skills.css);
@import url(../blocks/skills/__card/skills__card.css);
@import url(../blocks/skills/__image-name/skills__image-name.css);
@import url(../blocks/skills/__image/skills__image.css);
@import url(../blocks/skills/__image/_type/skills__image_type_bem.css);
@import url(../blocks/skills/__image/_type/skills__image_type_css.css);
@import url(../blocks/skills/__image/_type/skills__image_type_git.css);
@import url(../blocks/skills/__image/_type/skills__image_type_html.css);
@import url(../blocks/skills/__image/_type/skills__image_type_js.css);

@import url(../blocks/works/works.css);
@import url(../blocks/works/__card/works__card.css);
@import url(../blocks/works/__image/works__image.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__description/footer__description.css);
@import url(../blocks/footer/__github-svg/footer__github-svg.css);
@import url(../blocks/footer/__link-text/footer__link-text.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__mail-svg/footer__mail-svg.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__title/footer__title.css);

html {
  scroll-behavior: smooth;
}
.gallery {
  display: flex;
  gap: 100px;
}
.gallery__left {
  margin-top: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.gallery__right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
