@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../../blocks/body/body.css);

@import url(../../blocks/wrapper/wrapper.css);

@import url(../../blocks/header-container/header-container.css);
@import url(../../blocks/header/header.css);
@import url(../../blocks/header/__logo/header__logo.css);
@import url(../../blocks/header/__menu/header__menu.css);
@import url(../../blocks/header/__link/header__link.css);

@import url(../../blocks/profile/profile.css);
@import url(../../blocks/profile/__about/profile__about.css);
@import url(../../blocks/profile/__avatar/profile__avatar.css);
@import url(../../blocks/profile/__background/profile__background.css);
@import url(../../blocks/profile/__content/profile__content.css);
@import url(../../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../../blocks/profile/__text/profile__text.css);
@import url(../../blocks/profile/__title/profile__title.css);

@import url(../../blocks/description/description.css);
@import url(../../blocks/description/__image/description__image.css);
@import url(../../blocks/description/__text/description__text.css);

@import url(../../blocks/block/block.css);
@import url(../../blocks/block/__cards/block__cards.css);
@import url(../../blocks/block/__title/block__title.css);

@import url(../../blocks/skills/skills.css);
@import url(../../blocks/skills/__card/skills__card.css);
@import url(../../blocks/skills/__image-name/skills__image-name.css);
@import url(../../blocks/skills/__image/skills__image.css);

.works {
}
.works__card {
}
.works__image {
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.footer {
}
.footer__description {
}
.footer__logo {
}
.footer__text {
}
.footer__menu {
}
.footer__title {
}
.footer__links {
}
.footer__link {
}
.footer__link-svg {
}
.footer__link-text {
}
